<!DOCTYPE html>
<html lang="en">
<%- include('./_header.ejs') %>
<%- include('./_navigation-signned.ejs') %>
<body>
    <div class="container mt-5">
        <h2 class="mb-4">Posts</h2>
        
        <div class="addPost text-center mb-4">
            <a href="/users/post/add" class="btn btn-primary mb-4">Add New Post</a>
        </div>
        
        <h2>Recent Post</h2>
        <!-- Post Cards -->
        <div class="row">
          <!-- Card 1 -->
          <div class="col-md-4 mb-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Post Title 1</h5>
                <p class="card-text">Post Description Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <!-- Buttons -->
                <div class="mt-3">
                  <a href="#" class="btn btn-info mr-2">See Details</a>
                  <a href="#" class="btn btn-danger">Delete</a>
                </div>
              </div>
            </div>
          </div>
      
          <!-- Card 2 -->
          <div class="col-md-4 mb-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Post Title 2</h5>
                <p class="card-text">Post Description Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <!-- Buttons -->
                <div class="mt-3">
                  <a href="#" class="btn btn-info mr-2">See Details</a>
                  <a href="#" class="btn btn-danger">Delete</a>
                </div>
              </div>
            </div>
          </div>
      
          <!-- Card 3 -->
          <div class="col-md-4 mb-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Post Title 3</h5>
                <p class="card-text">Post Description Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <!-- Buttons -->
                <div class="mt-3">
                  <a href="#" class="btn btn-info mr-2">See Details</a>
                  <a href="#" class="btn btn-danger">Delete</a>
                </div>
              </div>
            </div>
          </div>
      
          <!-- Repeat Cards for additional posts -->
          <!-- Card 4 -->
          <div class="col-md-4 mb-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Post Title 4</h5>
                <p class="card-text">Post Description Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <!-- Buttons -->
                <div class="mt-3">
                  <a href="#" class="btn btn-info mr-2">See Details</a>
                  <a href="#" class="btn btn-danger">Delete</a>
                </div>
              </div>
            </div>
          </div>
      
          <!-- Card 5 -->
          <div class="col-md-4 mb-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Post Title 5</h5>
                <p class="card-text">Post Description Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <!-- Buttons -->
                <div class="mt-3">
                  <a href="#" class="btn btn-info mr-2">See Details</a>
                  <a href="#" class="btn btn-danger">Delete</a>
                </div>
              </div>
            </div>
          </div>
      
          <!-- Add more cards for additional posts -->
        </div>
      </div>
</body>
</html>
